*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:url("https://images.unsplash.com/photo-1560518883-ce09059eeffa?auto=format&fit=crop&w=1800&q=80");

background-size:cover;
background-position:center;
height:100vh;

}

.overlay{

height:100vh;

background:linear-gradient(
135deg,
rgba(0,0,0,.82),
rgba(15,32,39,.75)
);

display:flex;

justify-content:center;

align-items:center;

}

.hero{

text-align:center;

color:white;

width:700px;

padding:50px;

border-radius:20px;

backdrop-filter:blur(12px);

background:rgba(255,255,255,.08);

box-shadow:0 0 30px rgba(0,255,255,.25);

}

.hero h1{

font-size:55px;

margin-bottom:20px;

}

.hero p{

font-size:22px;

line-height:35px;

margin-bottom:40px;

}

button{

padding:18px 45px;

font-size:18px;

border:none;

border-radius:50px;

cursor:pointer;

background:#00d9ff;

color:white;

transition:.4s;

}

button:hover{

transform:translateY(-5px);

box-shadow:0 15px 35px cyan;

}